---
permalink: /popup/popup.html
---
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popup</title>
    <link rel="stylesheet" href="popup.css">
    <script src="popup.js"></script>
  </head>

  <body>
    <header>
      <h1>Blackboard Ultra Extended</h1>
    </header>
    {%- for moduleFolder, module in includedModules %}
    <div id="{{ module.contentScriptParams.id }}" class="module">
      <div class="description">
        <h2>{{ module.name }}</h2>
        <p>{{ module.description | nl2br | safe }}</p>
      </div>
      {%- if module.icon != null %}
      <img src="../modules/{{ moduleFolder }}/{{ module.icon }}" alt="{{ module.name }}" class="icon">
      {%- endif %}
      <label class="switch">
        <input type="checkbox" unchecked>
        <span class="slider round"></span>
      </label>
    </div>
    {%- if not loop.last %}
    <hr>
    {%- endif %}
    {%- endfor %}
  </body>

</html>