---
permalink: module-loader.js
---
const includedModules = {{ includedModules | stringify | safe }};

function includeModuleParams(includedModules) {
const includedModuleParams = [];
// TODO: make this add modules based on the popup menu selection
    for (const [module, moduleObj] of Object.entries(includedModules)) {
        includedModuleParams.push(moduleObj.contentScriptParams);
    }
    return includedModuleParams;
}

async function registerContentScript(scriptArray) {
    try {
        await browser.scripting.registerContentScripts(scriptArray);
        console.log('Content scripts registered successfully.');
    } catch (err) {
        console.error(`Failed to register content scripts: ${err}`);
    }
}

includedModuleParams = includeModuleParams(includedModules);
registerContentScript(includedModuleParams);